.workcontainer {
    width: 100%;
    height: 175px;
    margin-bottom: 0px;
}

#projectsH1 {
    position: absolute;
    top: 365px;
    right: 50px;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    color: #110c16;
     
}
#yellowBar {
    width: 100%;
    height: 35px;
    background-color: rgb(247, 239, 102);
    position: relative;
    top: 40px;
}
  