.workcontainer {
    width: 100%;
    height: 175px;
    margin-bottom: 0px;
}

#projectsH1 {
    position: absolute;
    top: 475px;
    right: 50px;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    color: #110c16;
     
}
#yellowBar {
    width: 100%;
    height: 35px;
    background-color: rgb(247, 239, 102);
    position: relative;
    top: 100px;
}
.projects{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
}

.linkHeader{
    font-family: como, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    display: flex;
    margin-left: 0px;
}
.arraynge{
    margin-left: 25px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#arrayngeimg{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 410px;
    margin-left: 25px;
    margin-bottom: 50px;
}
.arrayngeHeader{
    grid-column: 2 / 3;
    margin-left: 25px;
    display: inline;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.jscheats{
    text-align: left;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#jscheatsimg{
    height: 400px;
    margin-left: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-bottom: 50px;
}
.jscheatsHeader{
    grid-column: 2 / 3;
    margin-left: 25px;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.todolist{
    text-align: left;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#todolistimg{
    height: 505px;
    margin-left: 25px;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-bottom: 50px;
}
.todolistHeader{
    grid-column: 2 / 3;
    margin-left: 25px;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}
  