.workcontainer {
    width: 100%;
    height: 175px;
    margin-bottom: 0px;
    background-color: #E8EAEE;
    box-sizing: border-box;
}

#projectsH1 {
    position: absolute;
    top: 67%;
    right: 50px;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    color: #110c16;
    margin-top: 10px;
    margin-bottom: 0px;
}
#yellowBar {
    width: 100%;
    max-width: 100%;
    height: 35px;
    background-color: rgb(247, 239, 102);
    position: relative;
    top: 0px;
    box-sizing: border-box;
}
.projects{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0px;
    padding-bottom: 5%;
    background-color: #E8EAEE;
}
.arraynge{
    margin-left: 25px;
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#arrayngeimg{
    height: 410px;
}
.arrayngeimg{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 25px;
    margin-right: 5%;
    margin-bottom: 5%;
}
.arrayngeContent{
    grid-column: 2 / 3;
    display: inline;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}
#arrayngeHeader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 200; 
    font-size: 28px;
}
#arrayngeSubHeader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}
.arrayngeDesc{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-right: 10%;
    font-size: 18px;
}
.jscheats{
    text-align: left;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#jscheatsimg{
    height: 400px;
}
.jscheatsimg{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 25px;
    margin-right: 5%;
    margin-bottom: 5%;
}
.jscheatsContent{
    grid-column: 2 / 3;
    /* margin-left: 25px; */
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}
#jscheatsHeader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 200; 
    font-size: 28px;
}
#jscheatsSubHeader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}
.jscheatsDesc{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-right: 10%;
    font-size: 18px;
}
.todolist{
    text-align: left;
    margin-left: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
#todolistimg{
    height: 505px;
}
.todolistimg{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    margin-left: 25px;
    margin-right: 5%;
    margin-bottom: 5%;
}
.todoListContent{
    grid-column: 2 / 3;
    margin-left: 25px;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
}
.todolistHeader{
    /* margin-left: 25px; */
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 200; 
    font-size: 28px;
}
.todolistDesc{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-right: 10%;
    /* margin-left: 25px;
    margin-right: 25px; */
    font-size: 18px;
}
.github-icon{
    margin-left: 25px;
    margin-right: 10px;
}
.github-icon2{
    margin-left: 0px;
    margin-right: 10px;
}
  