.Bio{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: 1fr;
}
#bioImage{
    height: 375px;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 2px;
}
.bioImageBackground{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 475px;
    width: 80%;
    display: flex;
    background-color: #F7E5DF;
    border-radius: 2px;
}
.bioInfo{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 30px 30px;
    margin-top: 100px;
    margin-left: 0%;
    margin-bottom: 50px;
}
#name{
    display: flex;
    /* font-family: mr-eaves-xl-modern, sans-serif;
    font-style: normal;
    font-weight: 100; */
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 32px;
}

#title{
    display: flex;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

#stack{
    display: flex;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}
.icons{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    margin-top: 0px;
    margin-right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}



