/* Extra Small and up (Portrait Phones) */
.Bio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 150px;
    padding-bottom: 0%;
    background-color: #FBF6F6;
    /* background-color: #F7F7FB; */
}
#bioImage{
    display: none;
}
.bioImageBackground{
    display: none;
}
.icons{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-self: center;
}
.bioInfo{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #2D2C2B;
}
#name{
    display: flex;
    /* font-family: 'Futura'; */
    /* color: #fff; */
    /* color: #2D2C2B; */
    color: #1E3D69;
    text-shadow: 0 0 5px #FAF5E9, 0 0 10px #FAF5E9, 0 0 20px #DCE466, 0 0 30px #DCE466, 0 0 40px #DCE466, 0 0 55px #DCE466, 0 0 75px #DCE466;
    /* text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px #ff0080, 0 0 75px #ff0080; */
    text-align: center;
    /* font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 200; */
    /* font-family: granville, serif;
    font-style: normal;
    font-weight: 300; */
    /* font-family: gill-sans-nova-inline, sans-serif;
    font-style: normal;
    font-weight: 300; */
    font-family: gill-sans-nova, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 42px;
    padding-bottom: 10%;
}
#title{
    display: flex;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 22px;
    padding-bottom: 5%;
}
#stack{
    display: flex;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}
.contactinfo{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 40px 35px 30px 30px;
    text-align: left;
    margin-left: 0px;
    margin-top: 15%;
}
#contactinfoheader{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 5%;
}
#email{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5%;
}
#phone{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    margin-top: 0px; 
    margin-bottom: 5%;
}
#resume{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    margin-top: 5px; 
    margin-bottom: 5%;
}

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
    .Bio{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 125px 100px;
        padding-bottom: 0%;
        padding-top: 5%;
    }
    #bioImage{
        display: none;
        /* height: 400px; */
        /* visibility: hidden; */
        /* padding-bottom: 5%; */
    }
    .bioImageBackground{
        display: none;
        /* visibility: hidden; */
        /* grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0 auto; */
        /* width: 100%; */
        /* background-color: #F7E8C9; */
        /* border-radius: 15px; */
    }
    .icons{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        /* display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end; */
        /* margin-top: 5%;
        margin-right: 10%;
        margin-left: 10%; */
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .bioInfo{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        margin: 0 auto;
        margin-top: 5%;
    }
    #name{
        font-size: 36px;
    }
    #title{
        font-size: 24px;
        padding-top: 2%;
    }
    #stack{
        font-size: 22px;
        padding-top: 2%;
    }
}

/* Medium and up (Tablets) */
@media (min-width: 768px) {
    .Bio{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: 1fr;
        padding-bottom: 0%;
    }
    #bioImage{
        display: initial;
        width: auto;
        max-height: 38vh;
        opacity: 0.85;
        border-radius: 5px;
    }
    .bioImageBackground{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        max-height: 38vh;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 5px;
        background-color: #FBF6F6;
        /* background-color: #F3E4DF; */
        /* background-color: #340763; */
        /* background-color: #019098; */
        display: flex;
        justify-content: center;
        align-self: center;
    }
    .bioInfo{
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 40px 30px 30px;
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    #name{
        font-size: 36px;
    }
    
    #title{
        font-size: 20px;
        /* padding-top: 5%; */
    }
    
    #stack{
        font-size: 20px;
        /* padding-top: 5%; */
    }
    .icons{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-top: 0px;
        margin-right: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}

/* Large and up (Desktops) */
@media (min-width: 992px) {
    .bioImageBackground{
        /* max-width: 90%;
        min-height: 375px;
        max-height: auto; */
        max-height: 45vh;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 5px;
        /* margin: 0 auto;
        margin-left: 8%;
        padding-bottom: 7%;
        border-radius: 0px; */
    }
    #bioImage{
        /* display: initial;
        width: auto;
        height: 350px;
        margin-top: 10%;
        margin-bottom: 10%;
        padding-top: 5%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border: 1px solid #BCBEBF; */
        /* display: initial; */
        width: auto;
        max-height: 45vh;
        opacity: 0.9;
        border-radius: 5px;
    }
    .bioInfo{
        margin-left: 0 auto;
        margin-top: 20%;
        
    }
    #name{
        /* font-size: 48px; */
        font-size: 32px;
    }
    
    #title{
        font-size: 22px;
        padding-top: 10%;
    }
    
    #stack{
        font-size: 22px;
        padding-top: 10%;
    }
    .icons{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-top: 0px;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly; 
        align-items: flex-end; 
    }
}

/* Extra Large and up (Wide Screen Desktops) */
@media (min-width: 1200px) {
    .bioImageBackground{
        /* max-width: 90%;
        min-height: 500px;
        max-height: 475px;
        margin: 0 auto;
        margin-left: 8%;
        border-radius: 0px; */
    }
    #bioImage{
        /* display: initial;
        width: auto;
        height: 400px;
        margin-top: 10%;
        margin-bottom: 10%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px; */
    }
    .bioInfo{
        margin-left: 0 auto;
        
    }
    #name{
        font-size: 48px;
    }
    
    #title{
        font-size: 22px;
        padding-top: 8%;
    }
    
    #stack{
        font-size: 22px;
        padding-top: 8%;
    }
    .icons{
        grid-column: 3 / 4;
        grid-row: 1 / 2;
        margin-top: 0px;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}



