:root{
  --fiery-red: #D01C1F;
  --flame-orange: #FB8B23;
  --heritage-blue: #5D96BC;
  --blush-beauty: #E57868;
  --tanger-turquoise: #91DCE8;
  --classic-blue: #0F4C81;
  --beetroot-purple: #CF2D71;
  --storm: #035453;
  --yellow-iris: #EEE78E;
  --rose-brown: #80565B;
  --blossom: #F2B2AE;
  --bossa-nova: #973A36;
  --cuban-sand: #C1A68D;
  --blueberry: #2C333E;
  --blanc-de-blanc: #E7E9E7;
  --oyster-mushroom: #C3C6C8;
  --cranberry: rgb(187, 74, 77);
    --merlot: rgb(114, 38, 44);
    --summer-fig: rgb(190, 75, 59);
    --cranapple: rgb(215, 126, 112);
    --chili-pepper: rgb(155, 27, 48);
    --biking-red: rgb(119, 33, 46);
    --creme-de-peche: #f5d6c6;
    --peach-pink: rgb(250, 154, 133);
    --chicory-coffee: rgb(74, 52, 46);
    --bluestone: rgb(87, 114, 132);
    --galaxy-blue: rgb(42, 75, 124);
    --hazel: rgb(174, 114, 80);
    --antique-moss: rgb(185, 160, 35);
    --forest-biome: rgb(24, 74, 69);
    --rocky-road: rgb(90, 62, 54);
    --fruit-dove: rgb(206, 91, 120);
    --sugar-almond: rgb(147, 85, 41);
    --dark-cheddar: rgb(224, 129, 25);
    --butterscotch: rgb(225, 150, 64);
    --grapeade: rgb(133, 103, 123);
    --rutabaga: rgb(236, 221, 190);
    --green-olive: rgb(141, 139, 85);
    --evening-blue: rgb(42, 41, 62);
    --orange-tiger: rgb(249, 103, 20);
    --eden: rgb(38, 78, 54);
    --vanilla-custard: rgb(243, 224,190);
    --paloma: rgb(159, 156, 153);
    --frost-gray: rgb(132, 130, 131);
    --guacamole: rgb(121, 123, 58);
    --fiesta-red: #DC443A;
    --jester-red: #98243A;
    --pepper-stem: #8D9440;
    --pink-peacock: #C62168;
    --sweet-lilac: #E7B8D3;
    --princess-blue: #11589F;
    --tumeric: #FE840E;
    --aspen-gold: #FFD858;
    --living-coral: #FF6F61;
    --mango-mojito: #D69C2F;
    --toffee: #755139;
    --terranium-moss: #616247;
    --eclipse: #343148;
    --sweet-corn: #F2EDD7;
    --soybean: #D2C29D;
    --brown-granite: #615550;
    --lemon-verbena: #F3E779;
    --pressed-rose: #D89C9A;
    --flame-scarlet: #CD212A;
    --saffron: #FFA500;
    --classic-blue: #0F4C81;
    --biscay-green: #55C6A9;
    --chive: #4A5335;
    --faded-denim: #798EA4;
    --orange-peel: #FA7A35;
    --mosaic-blue: #00758F;
    --sunlight: #EDD59E;
    --coral-pink: #E8A798;
    --cinnamon-stick: #9B4722;
    --grape-compote: #6B5876;
    --lark: #B89B72;
    --navy-blazer: #282D3C;
    --brilliant-white: #EDF1FE;
    --ash: #A09998;
    --bright-white: #f7fafc;
}
.App {
  text-align: center;
  background-color: var(--bright-white);
}
