.work {
    width: 100%;
    height: 10%;
    margin-bottom: 0px;
    box-sizing: border-box;
}
#pinkBar{
    width: 100%;
    height: 35px;
    background-color: #E2928D;
    position: relative;
    /* bottom: 50%; */
    /* bottom: 20%; */
}

#workH1 {
    position: absolute;
    /* bottom: 0%; */
    top: 279%;
    right: 5%;
    font-family: quasimoda, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    color: #110c16;
     
}
.experiences{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 25px;
    padding-bottom: 10%;
}
.job-title{
    grid-column: 1 / 2;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    text-align: left;
    margin-left: 10%;
    margin-top: 5%; 
    margin-bottom: 5%;   
}
.italics{
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-style: italic;
    font-size: 24px;
}
.dates{
    grid-column: 2 / 3;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    margin-top: 5%; 
    text-align: right;
    margin-right: 10%;
}
.desc{
    grid-column: 1 / 3;
    font-family: nobel, sans-serif;
    font-style: normal;
    font-weight: 100;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 20px;
    text-align: left;
}